[submodule "client/foundation"]
	path = client/foundation
	url = https://github.com/zurb/foundation
[submodule "client/backbone"]
	path = client/backbone
	url = https://github.com/jashkenas/backbone
[submodule "client/mustache.js"]
	path = client/mustache.js
	url = https://github.com/janl/mustache.js
