[submodule "client/foundation"]
	path = client/lib/foundation
	url = https://github.com/zurb/foundation
[submodule "client/backbone"]
	path = client/lib/backbone
	url = https://github.com/jashkenas/backbone
[submodule "client/mustache.js"]
	path = client/lib/mustache.js
	url = https://github.com/janl/mustache.js
[submodule "client/underscore"]
	path = client/lib/underscore
	url = https://github.com/jashkenas/underscore
[submodule "client/lib/jquery"]
	path = client/lib/jquery
	url = https://github.com/jquery/jquery
