<!DOCTYPE html>
<html
	><head
		><link
			href="static/css/foundation.css"
			rel="stylesheet"
			type="text/css"
		><link
			href="static/css/app.css"
			rel="stylesheet"
			type="text/css"
		><!-- Replace google link eventually
		--><link
			href="http://fonts.googleapis.com/css?family=Yellowtail"
			rel="stylesheet"
			type="text/css"
		><script
			src="static/js/modernizr.js"></script
		><title
			>Pepperonio</title
		></head
	><body
		><nav
			class="top-bar"
			><ul
				class="title-area"
				><li
					class="name"
					><h1
						><a
							href="/"
							>Pepperonio</a
						></li
				></ul
			></nav
		><section
			id="main-content"
			><div
				class="row"
				><div
					class="columns"
					><div
						class="panel"
						>test</div
					></div
				></div
			></section
		><script
			src="static/js/jquery.js"
			></script
		><script
			src="static/js/fastclick.js"
			></script
		><script
			src="static/js/foundation.min.js"
			></script
		><script
			src="static/js/underscore.js"
			></script
		><script
			src="static/js/backbone.js"
			></script
		><script
			src="static/js/mustache.js"
			></script
		><script
			>$(document).foundation()</script
		></body
	></html
>
