{% extends "base.html" %}

{% block head_end %}

  <style type="text/css">

    h1, h2, h3 {
      text-align: center;
    }

    .temp {
      border: 2px solid red;
    }

  </style>

  <script type="text/javascript">

    $(function(){  
      if ("geolocation" in navigator) {
        start_locating();
      }
      setInterval(update_pizzas, 50);
      update_pizzas();


      /* -- setup csrf for posting -- */

      function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie != '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                  var cookie = jQuery.trim(cookies[i]);
                  // Does this cookie string begin with the name we want?
                  if (cookie.substring(0, name.length + 1) == (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
      }
      var csrftoken = getCookie('csrftoken');

      function csrfSafeMethod(method) {
          // these HTTP methods do not require CSRF protection
          return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }
      $.ajaxSetup({
          crossDomain: false, // obviates need for sameOrigin test
          beforeSend: function(xhr, settings) {
              if (!csrfSafeMethod(settings.type)) {
                  xhr.setRequestHeader("X-CSRFToken", csrftoken);
              }
          }
      });

    });


    /* -- moment-izing timestamps -- */

    function momentize() {
      $('.momentize').each(function(idx){ 
        $(this).html( moment($(this).data('timestamp')).fromNow() );
      });
    }


    /* -- pizzas ajax -- */

    // TODO: add template form name, post page url, test
    function post_pizza() {
      $.post('TODO', $('#someform').serialize(), function(data){
        console.log('post_pizza:', data);
        update_pizzas();
      });
    }

    function update_pizzas() {
      $.get('/driver/', function(data){
        if (data != $('#pizzas').html()) {
          $('#pizzas').html(data);
          momentize();
          add_handlers();
        }        
      })
    }

    function add_handlers() {

      $('.deliver-btn').click(function(){ 
        var pid = $(this).data('pizzaid');
        data = { 'id': pid };
        $.post('/deliver-pizza/', data, function(data){
          update_pizzas();
        });        
      });

    }


    /* -- geolocation -- */

    var geo_success = function(position) {
    //   var ts = get_timestamp();
      var ts = moment().format('h:mm:ss a');
      var lat = position.coords.latitude;
      var lon = position.coords.longitude;
      var acc = position.coords.accuracy;

      $('#my-location').html( lat + ', <br>  ' + lon + '<br>  ' + acc );
      $('#my-location-updated').html( ts );

    };
    var geo_error = function(error) {
    //   console.log(error);
    };
    var geo_opts = { enableHighAccuracy: true, timeout: 5000, maximumAge: 0 };
    function start_locating() {
      var watchID = navigator.geolocation.watchPosition(geo_success, geo_error, geo_opts);
    }

    // function get_timestamp() {
    //   return Math.round( new Date().getTime() / 1000 );
    // }

  </script>

{% endblock %}

{% block main %}

  <div class="container" style="margin-bottom: 30px;">
    <div class="row">
      <div class="col-xs-12"> 
        <div class="page-header text-center">
          <h1>Hot Pizzas</h1>
          <p class="lead"><em>Driver Mode</em></p>
        </div>
<!--         <p class="text-center"><em>Welcome back, Foo Bar</em></p>
         -->        
<!--         <div class="alert alert-success alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>Congrats!</strong> A pizza has been sold.
        </div>
         -->        
        <pre>
My Location: 
  <span id="my-location"></span>
Last Updated: 
  <span id="my-location-updated"></span>
</pre>

        <hr>

<!--         <a href="" class="btn btn-primary btn-lg btn-block">Add a pizza</a>
        <p>post price, topping</p>        
        <hr>
         -->        

        <h2>My Pizzas</h2>

        <div id="pizzas">
          {% include "driver-pizzas-ajax.html" %}
        </div>

      </div>
    </div>
  </div>

{% endblock %}
